@charset "utf-8";

@font-face {
	font-family: Champagne;
	src: url(cac_champagne.woff) format('woff'),
	     url(cac_champagne.ttf) format('ttf');
}

/*
   Simple Web Assignment 2
   My hobby learning to become a photographer
   Author: Gabe Fitsum
   Date:   10/15/2022  
   Filename: sw2_styles1.css

*/
/* Image Styles */

.container {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 100vh;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  line-height: 0;
}

.box > img {
  width: 200%;
  height: calc(100% - 10vh);
  object-fit: cover; 
  transition: .5s;
}

.box > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.box:hover { flex: 1 1 50%; }
.box:hover > img {
  width: 100%;
  height: 100%;
}
 


/* Body Shadow Styles */

body {

	box-shadow: 10px 10px 50px rgb(201, 144, 10),
				-15px -15px 50px rgb(184, 7, 16);
}


/* Horizontal Navigation Styles */

nav.horizontalNavigation a {
   background-color: rgb(8, 8, 0);
   font-family: Champagne, cursive;
   font-size: 1.4em;
   line-height: 1.8em;
   text-align: center;
}

nav.horizontalNavigation a:link,
nav.horizontalNavigation a:visited {
   color: rgb(8, 8, 0);
}

nav.horizontalNavigation a:hover,
nav.horizontalNavigation a:active {
   background-color: rgb(72, 175, 219);
}


/* Footer Styles */


footer {
   background-color: rgb(207, 184, 70);
   clear: left;
   margin-top: 25px;
   text-align: right;
}

footer, footer span a {
   padding: 10px;
   color: rgb(0, 1, 3);
}

footer span a:hover {
   color: rgb(82, 218, 245);
   text-decoration: underline;
}




